.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AuditEventTable {
  width: 100%;
  border-collapse: collapse;
}

.AuditEventTableCell {
  border: 1px solid;  
}

.UsersTable {
  width: 100%;
  border-collapse: collapse;
}

.UsersTableCell {
  border: 1px solid;  
}

.GroupsTable {
  width: 100%;
  border-collapse: collapse;
}

.GroupsTableCell {
  border: 1px solid;  
}

.RootPostsTable {
  width: 100%;
  border-collapse: collapse;
}

.RootPostsTableCell {
  border: 1px solid;  
}

.SearchInput {
  border-radius: 12px;
  padding: 4px;
  width: 250px;
  background-color: lightgray;
}


/*
.LoadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

.LoaderOverlayContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  border: 2px solid black;
  width: 200px;
  height: 30px;
  font-size: large;
  text-align: center;
  vertical-align: middle;
}

.LoaderOverlayImage {
  width: 24px;
  height: 24px;
  vertical-align: middle;  
}

.AdvertsTable {
  width: 100%;
  border-collapse: collapse;
}

.AdvertsTableCell {
  border: 1px solid;  
}

.PopupContainer {
  position: relative;  
  display: inline-block;
}

.PopupMenuDiv {
  border: 1px solid black;
  background-color: white;  
  padding: 2px;
  position: absolute;  
  display: block;
  width: max-content;
}

.PopupMenuList {
  margin: 0px;
  padding: 0px;
}

.PopupMenuButton {  
  border: 0px;  
  background-color: white;
  padding: 0px;
  text-align: left;      
}

.PopupMenuButton:hover {    
  background-color: lightgray;  
}